# Django
SECRET_KEY=change-me-in-production
DEBUG=0
ALLOWED_HOSTS=localhost,127.0.0.1

# Database - SQL Server
DB_HOST=192.168.100.20
DB_PORT=1433
DB_USERNAME=usuariosiga
DB_PASSWORD=change-me-in-production
DB_NAME=GENERAL
DB_SIGA=SIGA

# System code
SYSTEM_CODE=39

# Frontend
VITE_API_URL=http://localhost:8000
